<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teamleaguebagit">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.teamleaguebagit.MenuBottom.MenuBottomMercado"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.teamleaguebagit.Mercado"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"/>
        <activity android:name="com.example.teamleaguebagit.MenuBottom.MenuBottomAlineacion"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.teamleaguebagit.Alineacion"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.teamleaguebagit.MenuBottom.MenuBottomJornada"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.teamleaguebagit.Jornada"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"/>
        <activity android:name="com.example.teamleaguebagit.Configuracion"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.teamleaguebagit.Clasificacion"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.teamleaguebagit.ranking.Ranking"
            android:screenOrientation="portrait" />
        <activity android:name=".Vista_Jugador"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.example.teamleaguebagit.Homepage"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.teamleaguebagit.RegisterView"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.teamleaguebagit.MainActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CrearLigaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".BuscarLigaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Creacion_equipo"
            android:screenOrientation="portrait"/>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>